#panel {
  border: 1px solid #000;
  width: 350px;
  overflow: hidden;
}

.v-enter-active,
.v-leave-active {
  transition: height 1s;
}

.v-enter {
  height: 0px;
}

.v-enter-to {
  height: 200px;
}

.v-leave {
  height: 200px;
}

.v-leave-to {
  height: 0px;
}
