<!-- list3-57(p98)0126 -->
<!-- 別解：list3-59(p100)0126 -->
<!-- for_filter.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.svg" type="image/x-icon">
    <!-- Bootstrapの導入 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Vue.js</title>
</head>


<body>
    <div id="app">
        <template>
            <div>
                <h1 style="color: rgb(167, 210, 210);">書籍一覧</h1>
                <table class="table"  style="background-color: rgb(167, 210, 210);">
                    <th>No.</th><th>画像</th><th>ISBN</th><th>書名</th><th>価格</th>
                    <tr v-for="(b, i) in books"> 
                        <td>{{ i + 1 }}</td>
                        <td><img :src="b.image" alt="Book Cover" width="40" height="50" style="object-fit: cover;"></td>
                        <td>{{ b.isbn }}</td>
                        <td>{{ b.title }}</td>
                        <td>{{ b.price }}円</td>
                    </tr>
                </table>
            </div>
        </template>
        <br/>
        <br/>

        <!-- 別解：v-forでなくv-ifを使用した場合 -->
        <!-- フィルターの金額をfilterAmountで引数にした場合 -->
        <!-- expensiveは以上の時は使用できるが以下や未満を使用したい時に変数名の変更が必要になるので、filterしたい金額そのものを表現する変数名としてfilterAmountを採用 -->
        <!-- v-forは繰り返す要素が空でない場合というものを指定できる。親要素にv-if="books.length" を指定-->
        <template>
            <div>
                <h4>{{ filterAmount }}円以上の書籍</h4>
                <table class="table" v-if="books.length">
                    <th>No.</th><th>画像</th><th>ISBN</th><th>書名</th><th>価格</th>
                    <!-- <tr v-for="(b, i) in books" 
                        v-if="b.price >= 2500">  -->
                    <tr v-for="(b, i) in books" 
                        v-if="b.price >= filterAmount"> 
                        <td>{{ i + 1 }}</td>
                        <td><img :src="b.image" alt="Book Cover" width="40" height="50" style="object-fit: cover;"></td>
                        <td>{{ b.isbn }}</td>
                        <td>{{ b.title }}</td>
                        <td>{{ b.price }}円</td>
                    </tr>
                </table>
            </div>
        </template>
    </div>  
  



    <!-- lodashとVueの設定 -------------------------------- -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <!-- オフライン環境での実行が可能 -->
        <script>window.Vue || document.write('<script src="lib/vue.min.js"><\/script>');</script>  
        <!-- lodashをインポート -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
        <!-- jsファイルの読み込み -->
        <script src="js/for_filter.js"></script>
    <!-- ------------------------------------------------- -->
   
</body>
</html>