<!-- list3-44(p86)0124 -->
<!-- if_else.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.svg" type="image/x-icon">
    <title>Vue.js</title>
</head>

<body>
    <div id="app">
        <form>
            <label for="holiday">祝日：</label><br />
            <select id="holiday" v-model="holiday">
                <option value="">祝日を選択してください。</option>
                <option value="new">元日</option>
                <option value="child">こどもの日</option>
                <option value="culture">文化の日</option>
                <option value="labor">勤労感謝の日</option>
            </select>
        </form>
        <!-- v-else-ifとv-elseはバグることもあり要注意 -->
        <div v-if="holiday==='new'">1月1日。年のはじめを祝う</div>
        <div v-else-if="holiday==='child'">5月5日。こどもの人格を重んじ...</div>
        <div v-else-if="holiday==='culture'">11月3日。自由と平和を愛し...</div>
        <div v-else-if="holiday==='labor'">11月23日。勤労をたつとび...</div>
        <div v-else>なにも選択されていません。</div>
    </div>  



    <!-- lodashとVueの設定 -------------------------------- -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <!-- オフライン環境での実行が可能 -->
        <script>window.Vue || document.write('<script src="lib/vue.min.js"><\/script>');</script>  
        <!-- lodashをインポート -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
        <!-- jsファイルの読み込み -->
        <script src="js/if_else.js"></script>
    <!-- ------------------------------------------------- -->
</body>
</html>